<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">Party Gears</a>
    <% if user_signed_in? %>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title fw-bolder" id="offcanvasDarkNavbarLabel">User Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <%= link_to "Profile", my_profile_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Items
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">My Rents</a></li>
                <li><a class="dropdown-item" href="#">Wish List</a></li>
              </ul>
                <li><%= button_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item fw-light" %></li>
            </li>
          </ul>
        </div>
      <% else %>
      <button type="button" class="btn btn-outline-light"><%= link_to "Login", new_user_session_path %></button>
      <% end %>
    </div>
  </div>
</nav>
