<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold">TOP RENTS</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
  </div>
</nav>
<nav class="navbar bg-light">
  <form class="container-fluid justify-content-center">
    <button class="btn btn-outline-dark me-2" type="button">Box</button>
    <button class="btn btn-outline-dark me-2" type="button">DJ</button>
    <button class="btn btn-outline-dark me-2" type="button">light</button>
  </form>
</nav>
